
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgrey;
    font-family: roboto;
}

h1 {
    display: none;
}

/* Navigatie header */

header {
    margin-top: -0.625em;
}

header section {
    background-color: #F6D40D;
    margin: 0;
padding: 2em 2em 2em 0em;
}

header section article:first-child {
    padding: 2em;
    margin: 0;
    background-color: white;
    border-radius: 0px 1em 1em 0px;
    min-width: 20em;
}

header section article h2{
font-size: 1.5em;
    text-align: left;
    margin: auto;
}

header section article h3 {
font-size: 1em;
color: #E66F1F;
    margin: auto;
}

nav > ul {
    display: flex;
    flex-direction: row;
    background-color: #665B53;
    padding: 0;
    margin: 0;
    justify-content: space-between;

}

nav > ul > li {
    font-size: 4em;
    padding: 0;
    list-style: none;
}

nav > ul > li img {
    height: 40px;
    width: 60px;
    object-fit: contain;
}

/* Filteren */

fieldset {
    background-color: white;
    border: none;
}

fieldset legend {
    font-weight: bold;;
}

fieldset ul li {
    list-style-type: none;
    margin-left: -3em;

}

fieldset input[type="submit"] {
width: 100%
}

fieldset input[type="submit"]:focus {
background-color: orange;
}

fieldset input[type="checkbox"]:focus {
    background-color: orange;
}

/* Verhalen */

article {
    background-color: white;
    margin: 1.5em 1.5em 1em 1.5em;
    position: relative;
    padding: 1.5em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
    border-radius: 1em 1em 0em 0em;
    min-width: 15em;
}

main article {
    min-height: 20em;
}

article img {

    display: block;
    width: calc(100% + 3em);
    margin-left: -1.5em;
    margin-top: -1.5em;
    border-radius: 1em 1em 0em 0em;
}


section article h2 {
    text-align: center;
    font-size: 1em;
}

section article footer {
    text-align: center;
    font-size: 0.8em;
    min-height: 5em;
}

section article a {
    text-align: center;
    display: inherit;
    font-size: 1em;
}

main section {
    grid-area: main;
}

aside {
    grid-area: sd;
}


/*Microinteractie opslaan*/

article div {
  position: absolute;
  right: 1em;
  top: -0.5em;
  text-align: center;
  display: block;
  width: 40px;
  height: 50px;
cursor: pointer;

}

section article div img:last-of-type {
  margin-top: 3em;
}

section article div img {
    width: 3em;
}

section article div img:first-of-type {
  margin-top: 0.3em;
    margin-left: 0.1em;
}


.hurray {
  margin-top: 0.7em;
    margin: auto;
}

.hurray+img+div+div {
  display: block;
}

article div img+.message+div {
  display: block;
}

article div img~div {
  display: none;
  transition: 0.3sec;
}

article div .message+div {
    margin-top: 0.5em;
margin-right: -1.35em;
  display: block;

}

article div .hurray {
margin-top: 0.5em;
    margin-right: -1em;
}

.hurray+div+div {
  display: block;
}

article>div:first-child::after {
  content: "";
  display: block;
  position: relative;
  height: 1;
}

/*Microinteractie liken */

 button {
    cursor: pointer;
    background: white;
    padding: 1.8em;
    border-style: none;
    position: absolute;
    right: 3rem;
    top: -0.1em;
 border: black solid 0.2em;
    transition: .9s ease-in-out;
 }

 button img {
         position: absolute;
    width: 3em;
 }

 .like {
         position: absolute;
 }

footer:last-child {
    padding: 3em;
    background-color: white;
}

footer img {
    width: 4em;
    height: 2em;
    object-fit: contain;
}


/* hulp gehad met grid van: demi vens */

/* Grid */

@media (min-width:20.25em) {
    .grid-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas: "sd sd sd sd sd sd sd sd sd""main main main main main main main main main";
    }

    .grid-container section {
        display: grid;
        grid-template-columns: 1fr;
    }

        .heart {
    background: #E66F1F;
    transform: scale(1.1, 1.15);
    transition: .9s ease-in-out;
    box-shadow: 0 0.3rem 0.5rem 0 lightgrey;
}

}

/* tablet*/

@media (min-width: 30em) {

    .grid-container {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            "sd sd sd sd sd sd sd sd sd"
            "main main main main main main main main main"
    }

    .grid-container section {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    article p {
        font-size: 1em;

    }

    a {
        font-size: 1em;

    }

        .heart {
    background: #E66F1F;
    transform: scale(1.1, 1.15);
    transition: .9s ease-in-out;
    box-shadow: 0 0.3rem 0.5rem 0 lightgrey;
}

}

/*desktop schaalt naar 3 kolommen met een breedte van 1em tussen de articles*/

@media (min-width:60em) {


    .grid-container {
        grid-template-areas:
            "sd sd main main main main main main main main"
            "sd sd sd main main main main main main main";
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(, 1fr);
        grid-template-areas:
            "sd sd sd sd sd sd sd"
            "main main main main main main main main main";
    }

    .grid-container section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header section article h2{
font-size: 2.5em;
    text-align: center;
    margin: auto;
}

header section article h3 {
font-size: 1.5em;
    text-align: center;
color: #E66F1F;
    margin: auto;
}

    /* microinteractie liken */
    .heart {
    background: #E66F1F;
    transform: scale(1.1, 1.15);
    transition: .9s ease-in-out;
    box-shadow: 0 0.3rem 0.5rem 0 lightgrey;
}

}
